// Tint a color: mix a color with white
@function tint-color($color, $weight: 20%) {
    @return mix(white, $color, $weight);
}

// Shade a color: mix a color with black
@function shade-color($color, $weight: 20%) {
    @return mix(black, $color, $weight);
}


/* escape-svg */

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1)+$replace+str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

@function escape-svg($string) {
    @if str-index($string, "data:image/svg+xml") {
        @each $char,
        $encoded in $escaped-characters {
            // Do not escape the url brackets
            @if str-index($string, "url(")==1 {
                $string: url("#{str-replace(str-slice($string, 6, -3), $char, $encoded)}");
            }
            @else {
                $string: str-replace($string, $char, $encoded);
            }
        }
    }
    @return $string;
}